NEXT_PUBLIC_SITE_URL=https://valldalsafteri.no

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=

SMTP_HOST=smtp.proisp.no
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=post@valldalsafteri.no
SMTP_PASSWORD=
SMTP_FROM=Valldal Safteri <post@valldalsafteri.no>
INTERNAL_ORDER_EMAIL=ordre@valldalsafteri.no
CUSTOMER_SMTP_FROM=Valldal Safteri <varsling@valldalsafteri.no>
